---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1999","card_number":"4242424242424242","cvv":"123","expiration_month":"06","expiration_year":"2021","zip_code":"12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=XXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6faef75b026d1c95097f3b0ecc4872be"
    body:
      encoding: ASCII-8BIT
      string: '{"token":"1f98fab6dd2e7364783c8e1a586336","success":true,"error_code":null}'
  recorded_at: Thu, 28 Mar 2019 00:00:00 GMT
recorded_with: VCR 4.0.0
