---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1999","card_number":"4242424242424242","cvv":"123","expiration_month":"06","expiration_year":"2021","zip_code":"12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=a_bad_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token realm="Application"
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: 'HTTP Token: Access denied.

        '
  recorded_at: Fri, 29 Mar 2019 16:13:53 GMT
recorded_with: VCR 4.0.0
