---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1999","card_number":"4242424242424241","cvv":"123","expiration_month":"06","expiration_year":"2021","zip_code":"12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=XXX
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"token":null,"success":false,"error_code":1000001}'
  recorded_at: Fri, 29 Mar 2019 00:00:00 GMT
recorded_with: VCR 4.0.0
